<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
	<!-- views/applications/show.ejs -->

    <link rel="stylesheet" href="/stylesheets/show.css" />

    <title>The Blog</title>
</head>
<!-- views/applications/show.ejs -->

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-body">
      <div class="show-header">
        <h1><%= blog.title %> by <%= blog.author %></h1>
        <div class="show-sidebar">
          <div class="show-actions">
            <a
              href="/users/<%= user._id %>/blogs/<%= blog._id %>/edit"
            >
              Edit Blog
            </a>
            <form
              action="/users/<%= user._id %>/blogs/<%= blog._id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit">Delete Blog</button>
            </form>
          </div>
          <p>Date published: <%= blog.publishedDate %></p>
        </div>
      </div>
      <div class="show-notes-container">
        <% if (blog.postingLink) { %>
        <a href="<%= blog.postingLink %>" target="_blank"
          >View Blog</a
        >
        <% } %> <% if (blog.notes) { %>
        <div class="show-notes">
          <h2>Notes:</h2>
          <p><%= blog.notes %></p>
        </div>
        <% } %>
      </div>
    </div>
  </body>
  
</html>